<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.aloomaio.androidsdk">
    <!-- To support customers who build from source with Eclipse, we have to
         include this redundant versioning here. If you change
         minSdkVersion or targetSdkVersion here, you must also
         change the relevant properties in build.gradle -->
    <uses-sdk android:minSdkVersion="9"
              android:targetSdkVersion="21"
              tools:ignore="GradleOverrides"/>

    <!--
      This permission is required to allow the application to send events and properties to Mixpanel.
     -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
      This permission is optional but recommended so we can be smart about when to send data.
     -->
    <!--
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->

    <!--
      This permission is optional but recommended so events will contain information about bluetooth state
    -->
    <!--
    <uses-permission android:name="android.permission.BLUETOOTH" />
    -->

    <application tools:ignore="AllowBackup">
        <!-- to support 2.2 (Froyo) and older devices, your application should allow fallback
             to HTTP if modern HTTPS certificates aren't supported. -->

        <meta-data android:name="aloomandroid.AConfig.DisableFallback"
            android:value="false" />

        <!-- Set the following option to true if you wish to see the debug output from the alooma Android
             SDK. This may be useful in determining when track calls go out or in app notifications or
             surveys are fetched. The default value is false. -->
        <!--
        <meta-data android:name="aloomandroid.AConfig.EnableDebugLogging"
            android:value="true" />
        -->

    </application>
</manifest>
